.name {
    font-size: 2.7rem;
    margin-top: 0;
    margin-bottom: 0;
    text-spacing: 5rem;
}

.type {
    &:disabled,
    &[data-disabled] {
        background-color: var(--mantine-color-yellow-5);
        color: white;
    }

    margin-right: 2em;
}

.vanInfo {
    margin-bottom: 2em;
}

.description {
    text-align: justify;
}
